<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    <typeAliases>
		<typeAlias alias="comboInfoVo" type="kr.esob.tdms.commonlogic.combo.ComboInfoVO"/>
		<typeAlias alias="searchComboInfoVo" type="kr.esob.tdms.commonlogic.combo.SearchComboInfoVO"/>
		<typeAlias alias="userVo" type="kr.esob.tdms.controller.login.UserVO"/>
		<typeAlias alias="drawingInfoVO" type="kr.esob.tdms.commonlogic.distribution.model.DrawingInfoVO"/>
		<typeAlias alias="docInfoVO" type="kr.esob.tdms.commonlogic.distribution.model.DocInfoVO"/>
		<typeAlias alias="docPdfRequestVO" type="kr.esob.tdms.controller.general.distribution.docpdfrequest.DocPdfRequestVO"/>
		<typeAlias alias="swInfoVO" type="kr.esob.tdms.commonlogic.distribution.model.SwInfoVO"/>
		<typeAlias alias="crInfoVO" type="kr.esob.tdms.controller.general.cr.CrInfoVO"/>
		<typeAlias alias="crFileVO" type="kr.esob.tdms.controller.general.cr.CrFileVO"/>
		<typeAlias alias="requestFileParam" type="kr.esob.tdms.commonlogic.distribution.model.RequestFileParam"/>
		<typeAlias alias="objectInfoVO" type="kr.esob.tdms.commonlogic.distribution.model.ObjectInfoVO"/>
		<typeAlias alias="mailInfoVO" type="kr.esob.tdms.commonlogic.mail.MailInfoVO"/>

    </typeAliases>
</configuration>
